/** For printing **/

@media print {
	h1,h2,h3,h4{
		margin-top:3px;
		margin-bottom:3px;
		padding-top:3px;
		padding-bottom:3px;
	}
	p{
		padding: 7px;
	}
	#header h1{
		font-size: 300%;
		font-weight: bold;
		text-align: center;
		color:#330080;
	}
    #navigation,
	#picture,
	#footer ul,
	div .img,
	.paragraphApper{
        display: none;
    }
	#footer{
		margin: 0 auto;
	}
	#footer p{
		border: 2px solid black;
	}
}
